.drawer-title-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.drawe-title {
  font-size: 1.4rem;
  line-height: 1; /* Asegura que la altura de la línea no afecte la alineación */
  margin-left: 6rem;
  text-transform: uppercase;
  font-weight: 900;
}

.drawer-icon {
  width: 1.4rem;
  height: 1.4rem;
  vertical-align: middle; /* Alinea el SVG con el texto */
}

.icon-cart {
  width: 4rem;
  height: 4rem;
  color: #adacac;
}

.container-icon-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}
.container-icon-p h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}

.container-icon-p p {
  margin: 0;
  text-align: center;
  font-size: 1rem;
}

.drawe-ctn-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3.5rem;
  gap: 1.5rem;
}

.drawe-ctn-btn button {
  background-color: #000000; /* Fondo gris claro */
  color: #ffffff; /* Texto en gris oscuro */
  font-size: 1rem; /* Tamaño de fuente */
  font-weight: 500; /* Peso de fuente moderado */

  border: 1px solid #ccc; /* Borde sutil gris claro */
  border-radius: 25px; /* Bordes redondeados elegantes */
  cursor: pointer; /* Cursor tipo mano al pasar por encima */
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease; /* Animación suave */
  padding: 0.9rem 1rem 0.9rem 1rem;
}
