.appbar-background {
  background-image: url("./images/background-images.jpg"); /* Asegúrate de que la ruta sea correcta */
  background-size: cover;
  background-position: center;
}
html {
  scroll-behavior: smooth; /* Esto habilita el scroll suave */
}
