.drawer-footer {
  padding: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 40vh;
}

.total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: #000000;
  background-color: rgba(212, 175, 55, 0.2);
  padding: 0.8rem;
  border-radius: 5px;
}

.total-container p {
  color: #3a3a3a;
}
