.cnt-item-detail-container {
  display: flex;
  justify-content: center;
  margin: 0px;
  height: 100%;
}
.p-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7); /* Fondo semitransparente */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.MuiCircularProgress-root {
  color: #ff6f61; /* Color de tu marca o el que prefieras */
  animation: rotate 1.4s infinite linear; /* Animación para el loader si deseas personalizarla */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 480px) {
  .cnt-item-detail-container {
    margin: 0;
    margin-top: 4rem;
    height: auto; /* Altura completa de la pantalla */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }

  .p-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    padding: 2rem;
  }
}
