.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vh;
}

.navbar-title {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.navbar-subtitle {
  font-size: 1rem;
  color: #e38035;
  margin-left: 0.5rem;
}

.navbar-crown {
  font-size: 1.8rem;
  color: #e38035;
}

/* 📱 Pequeño (smartphones estándar) */
@media (max-width: 480px) {
  .navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .navbar-title {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    margin-left: 0px;
  }
  .navbar-subtitle {
    font-size: 1rem;
    color: #e38035;
  }
  .navbar-crown {
    font-size: 1.6rem;
    color: #e38035;
  }
}
