.cardDesc {
  width: 53.5rem;
  height: 29rem;
}

.cardDesc-content {
  display: flex;
  flex-direction: column; /* Alinea los elementos en columna (uno debajo del otro) */
  align-items: flex-start; /* Alinea los elementos al inicio (desde el margen izquierdo) */

  gap: 0rem; /* Espaciado entre los elementos */
  margin-left: 2.3rem; /* Espaciado desde el margen izquierdo */
  margin-top: 12rem;
}

.cardDesc-title {
  margin-bottom: 0px;
  font-size: 2.5rem;
}

.cardDesc-price {
  margin-top: 0px;
  font-size: 1.5rem;
}

.cardDesc-button {
  background-color: #e38035;
  border-radius: 10rem;
  color: white;
  border: none; /* Elimina el borde predeterminado */
  padding: 9px 19px; /* Añade espacio interno */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-size: 1.4rem; /* Ajusta el tamaño de la fuente */
  transition: background-color 0.3s ease; /* Animación suave */
}
/* Estilo para hover */
.cardDesc-button:hover {
  background-color: #e09962; /* Color más claro al pasar el cursor */
}
