.card {
  border: 5px solid #ffffff;
  border-radius: 5%;
  width: 8rem;
  height: 8rem;
  padding: 0.3rem;

  text-align: center;
  background-color: #ffffff;
}

.card-image {
  width: 6rem;
  height: 6rem;
  border-radius: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.card-title {
  font-size: 0.5rem;
  margin: 12px 0;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
}

.card-price {
  font-size: 0.8rem;
  color: #000000;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}
