.buttonChoose {
  width: auto; /* Se ajusta al contenido */
  height: auto; /* Se ajusta automáticamente */
  border-radius: 1rem; /* Bordes redondeados más pequeños */
  padding: 0.4rem 1rem; /* Espaciado interno ajustado */
  margin-top: 1.5rem; /* Margen superior más pequeño */
  margin-right: 0.5rem;
  background-color: white; /* Fondo blanco por defecto */
  font-size: 1rem; /* Texto ligeramente más pequeño */
  color: #000000; /* Color del texto oscuro */
  border: 1px solid #c7b9a5; /* Borde sutil */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  transition: all 0.3s ease; /* Animación suave al interactuar */
}

/* Efecto hover (cuando el ratón pasa por encima) */
.buttonChoose:hover {
  background-color: #333333; /* Fondo negro en hover */
  color: white; /* Texto blanco en hover */
  border-color: #000000; /* Bordes también oscuros */
  transform: scale(1.05); /* Pequeño zoom al pasar el cursor */
}

/* Efecto al hacer click (activo) */
.buttonChoose:active {
  background-color: #333333; /* Fondo negro al hacer click */
  color: white; /* Texto blanco al hacer click */
  border-color: #333333; /* Bordes oscuros */
}
