.icon-buscar,
.icon-like,
.icon-carrito,
.icon-usuario {
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  color: white;
}
/* 📱 Pequeño (smartphones estándar) */
@media (max-width: 480px) {
  .icon-like {
    display: none;
  }
}
