.search-sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 10vh;
  background-color: white;
  transition: right 0.3s ease-in-out;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 9999; /* Ajusta si es necesario */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Cuando el sidebar está abierto */
.search-sidebar.open {
  right: 0;
}

/* Fondo oscuro cuando el sidebar está abierto */
.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
  z-index: 9998;
  display: none;
}

/* Mostrar overlay solo cuando el sidebar está abierto */
.search-overlay.open {
  display: block;
}

.search-form {
}
@media (max-width: 480px) {
  .search-sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: auto;
    background-color: white;
    transition: right 0.3s ease-in-out;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 9999; /* Ajusta si es necesario */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Cuando el sidebar está abierto */
  .search-sidebar.open {
    right: 0;
  }

  /* Fondo oscuro cuando el sidebar está abierto */
  .search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
    z-index: 9998;
    display: none;
  }

  /* Mostrar overlay solo cuando el sidebar está abierto */
  .search-overlay.open {
    display: block;
  }

  .search-input {
    display: flex;
    flex-direction: row;
    width: 20rem;
    height: 2rem;
  }
}
