.appbar-background {
  background-image: url("/public/images/background-images.jpg"); /* Asegúrate de que la ruta sea correcta */
  background-size: cover;
  background-position: center;
}
html {
  scroll-behavior: smooth; /* Esto habilita el scroll suave */
}
/* Agregar en CSS global */

:root {
  --color-fondo: #f8f8f8;
  --color-acento: #d4af37; /* Oro */
  --color-texto: #3d3d3d;
  --color-bordes: #e0e0e0;
  --tarjeta-oscura: #2a2a2a;
}
