.item-cnt {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.count-num {
  color: #fff;
}

@media (max-width: 480px) {
  .item-cnt {
    display: flex;
    flex-direction: row;
  }

  .count-btn {
    width: 2.5rem !important;
  }

  .count-num {
    font-size: 1.2rem;
  }

  .add-to-cart-btn {
    width: 14rem !important;
  }

  .toast-custom {
    width: 80% !important;

    padding: 15px !important; /* Espaciado interno */
    margin: 0 auto !important; /* Centrado adicional */
    font-size: 14px !important; /* Tamaño de texto */
    margin-top: 4rem !important;
  }
}
